@import url('https://fonts.googleapis.com/css2?family=Bai+Jamhuree:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
body {
    font-size: 18px;
    font-family: 'Bai Jamhuree', sans-serif;
}

header {
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./images/bg-header-desktop.png);
    background-size: cover;
}